html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}
/* Web Studio */
:root{
    --primary-text-color:#757575;
    --title-text-color: #212121;
    --accent-text-color: #2196F3;
    --primary-white-color: #ffffff;
    --ptimary-heroy-color: #2F303A;
    --background-button: #F5F4FA;
}
body {
    margin: 0;
    font-family: Roboto, sans-serif;
    color:var(--primary-text-color);
    background-color: var(--primary-white-color);
    font-size: 14px;
    letter-spacing: 0.03em;   
}
/*========Utilits=============  */
            .visually-hidden {
                position: absolute;
                width: 1px;
                height: 1px;
                margin: -1px;
                border: 0;
                padding: 0;
                
                white-space: nowrap;
                clip-path: inset(100%);
                clip: rect(0 0 0 0);
                overflow: hidden;
            }
h1,
h2,
h3,
h4,
p {
    margin: 0;
}

            img {
                display: block;
                margin: 0 auto;
                cursor: pointer;
                border: none;
                border-radius: 4px;
            }


            .link{
                text-decoration: none;
            }
            .container{
                width: 1200px;
                margin: 0 auto;
                padding-left: 15px;
                padding-right: 15px; 
                
                
            }
            .list{
                list-style: none;
                padding: 0;
                margin: 0;
            }



            /* убрал отступ снизу у картинки 4пикс */
            /* .img-view{
                display: block;
                padding: 0;
                margin: 0;
            } */

            
            .section {
                padding-top: 94px;
                padding-bottom: 94px;
            }

            
            /* Button */
            .button{
                padding: 10px 32px;
                border-radius: 4px;
                border: none;
                color: var(--primary-white-color);
                background-color: var(--accent-text-color);
                font-family: Roboto, sans-serif;
                font-size: 16px;
                font-weight: 700;
                Line-height: 1.62;
                letter-spacing: 0.06em;
                cursor: pointer;

            }
            .button:focus,
            .button:hover{
                color: var(--title-text-color);
                background-color: #C4C4C4;
            }

            .button-seconary{
                padding: 6px 25px;
                border-radius: 4px;
                color: var(--title-text-color);
                background-color: var(--background-button);
                font-family: Roboto, sans-serif;
                font-size: 16px;
                font-weight: 500;
                Line-height: 1.625;
                letter-spacing: 0.06em;

                cursor: pointer;
            }
            .button-seconary:focus,
            .button-seconary:hover{
                color: var(--primary-white-color);
                background-color: var(--accent-text-color);
            }
            .flex {
                display: flex;
                align-items: center;  
            }
/*secondary text #212121 */
/*main  text #757575 */
/* white #FFFFFF */
/* blue #2196F3*/
/* footer rgba(255, 255, 255, 0.6) */
/* background #F5F5F5 */
/* bacgraund grey #F5F4FA */
/* background akcent #2F303A */

/*=========Header===========*/





/*============Navigation=========*/


.nav-logo:focus,
.nav-logo:hover{
    color: var(--accent-text-color);
}

.nav-logo {
    text-decoration: none;
    color: var(--title-text-color);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.nav {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-text-color);
    text-decoration: none;
    font-family: Roboto;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.current {
    color: var(--accent-text-color);
}

.list a:hover,
.list a:focus{
    color: var(--accent-text-color);
}
.logo-span {
    color: var(--accent-text-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
}

.ul-nav {
    margin-left: 90px;
}
.ul-nav li + li {
    margin-left: 50px;
}
/*======Autirizator======*/


.nav-aut a {
color: var(--primary-text-color);
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;




}
.nav-aut a:hover,
.nav-aut a:focus{
    color: var(--accent-text-color);
}
.nav-aut li + li {
    margin-left: 50px;
}
.nav-aut {
    margin-left: auto;
}            
.section-title {
    text-align: center;
    margin: 0;
    color: var(--title-text-color);
    font-size: 36px;
    font-weight: 700;
}
.clients{
    background-color: #f5f4fa14;
}
/* bg index*/
.heroy-box {
   padding-top: 200px;
   padding-bottom: 200px;
    text-align: center;
    background-color: var(--ptimary-heroy-color);
}
.main-title { 
    margin-bottom: 30px;
   
    color: var(--primary-white-color);
    font-family: Roboto, sans-serif;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}
/*================== Skills index=================*/
            .title{
                margin: 0;

                font-family: Roboto, sans-serif;
                font-size: 14px;
                font-weight: 700;
                line-height: 16px;
                letter-spacing: 0.03em;
                text-transform: uppercase;
            }
            .section-title {
                margin-bottom: 50px;
               

                color: var(--title-text-color);
                font-size: 36px;
                font-weight: 700;
                line-height: 1.17;
                letter-spacing: 0.03em;
            }

.skills-item {
    line-height: 1.71;

}
.ul-skills .title{
    margin-bottom: 10px;
    color: var(--title-text-color);
}

.ul-skills {
align-items: flex-start;
}

.ul-skills .title{
    color: var(--title-text-color);
   
}

.skills,.flex {
     /*  */
     padding-bottom: 0;
}


.item-skills:not(:last-child) {
     margin-right: 30px;
}
.item-skills {
    
    width: calc((100% - 90px) / 4);
       
}



/* ===================Our employee index============== */

.employee {
    margin-bottom: 10px;

    color: var(--title-text-color);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.03em;
}  
.employee-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

.item-card {
    
}



.item-employee { 
    
    background: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;


}

.item-employee:not(:last-child) {
    margin-right: 30px;
}


.test-card {
   padding: 30px 0;
    text-align: center;
}



/*=============== our work index===============*/


.item-our-work:not(:last-child) {
    margin-right: 30px;
}



/*==================footer===================*/
.footer {
    padding: 60px 0;
    background-color: var(--ptimary-heroy-color);
}
.footer-logo {
    display: block;
    margin-bottom: 20px;


    text-decoration: none;
    color: var(--primary-white-color);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.footer-logo:hover,
.footer-logo:focus{
    color: var(--accent-text-color);
}

.footer-ul .footer-item + .footer-item {
    margin-top: 9px;
}


.footer-contact:hover,
.footer-contact:focus{
    color:var(--accent-text-color);
}
.footer-contact {
    font-style: normal;
    text-decoration: none;
    color:rgba(255, 255, 255, 0.6);
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.footer-map{
    font-style: normal;
    text-decoration: none;
    color: var(--primary-white-color);
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.footer-map:hover,
.footer-map:focus{
    color:var(--accent-text-color);
}   



/*  */
/*=====================Portfolio===================*/

/*secondary text #212121 */
/*main  text #757575 */
/* white #FFFFFF */
/* blue #2196F3*/
/* footer rgba(255, 255, 255, 0.6) */
/* background #F5F5F5 */
/* bacgraund grey #F5F4FA */
/* background akcent #2F303A */

/* Header portfolio*/





/* Section portfolio*/

            .section-title-portfolio{
                padding: 0;
                margin: 0;
            }

.clients{
    background-color: #F5F4FA;
}








/*===============Our comand===========*/
.employee {
    color: var(--title-text-color);
}


/* ========PORTFOLIO========= */


            .portfolio {
                margin: 0;
                padding: 20px 0px 6px 0px;

                text-decoration: none;
                font-family: Roboto, sans-serif;
                color: var(--title-text-color);
                font-weight: 700;
                font-size: 18px;
                line-height: 2;
                letter-spacing: 0.03em;
                
            }
.pharagraf-portfolio{
    color: var(--primary-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.875;
    letter-spacing: 0.03em;
}

.link-portfolio{
    text-decoration: none;
}

            .portfolio-img{
                padding: 0;
                margin: 0;
            }

/* .item-portfolio {
    display: inline-block;  
   
} */
.border {
    width: 370px;
    
    border-bottom: 3px solid #EEEEEE;
    border-left: 3px solid #EEEEEE;
    border-right:3px solid #EEEEEE;
 text-align: center;
    padding-bottom: 30px;
    padding-right: 10px;
}


/* ===============Projects=================== */
.item-project:not(:last-child) {
    margin-right: 8px;
    
}

.list-project {
    margin-bottom: 50px;
    justify-content: center;
}
/* ===================Card====================== */
.flex-project {
    display: flex;
    flex-wrap: wrap;
}

.flex-card {
    
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
}


.flex-card:nth-child(3n) {
    margin-right: 0;
}