html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}
/* Web Studio */
:root{
    --primary-text-color:#757575;
    --title-text-color: #212121;
    --accent-text-color: #2196F3;
    --primary-white-color: #ffffff;
    --ptimary-heroy-color: #2F303A;
    --background-button: #F5F4FA;
}
.body {
    font-family: Roboto,sans-serif;
    color:var(--primary-text-color);
    background-color: var(--primary-white-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.14;
    letter-spacing: 2%;   
}
.link{
    text-decoration: none;
  }
.container{
    width: 1200px;
    margin: 0 auto; 
    
    
}
.list{
    list-style: none;
    padding: 0;
    margin: 0;
}
/* Button */
.button{
    padding: 10px 32px;
    color: var(--primary-white-color);
    background-color: var(--accent-text-color);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 700;
    Line-height: 1.62;
    letter-spacing: 3%;
}
.button:focus,
.button:hover{
    background-color: var(--primary-text-color);
}

.button-seconary{
    padding: 6px 25px;
    color: var(--title-text-color);
    background-color: var(--background-button);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    Line-height: 1.625;
    letter-spacing: 3%;
}
.button-seconary:focus,
.button-seconary:hover{
    color: var(--primary-white-color);
    background-color: var(--accent-text-color);
}
/*secondary text #212121 */
/*main  text #757575 */
/* white #FFFFFF */
/* blue #2196F3*/
/* footer rgba(255, 255, 255, 0.6) */
/* background #F5F5F5 */
/* bacgraund grey #F5F4FA */
/* background akcent #2F303A */

/* Header */

/* Navigation */
.nav-logo:focus,
.nav-logo:hover{
    color: var(--accent-text-color);
}



.nav-logo {
    text-decoration: none;
    color: var(--title-text-color);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 3%;
}
.nav {
    color: var(--title-text-color);
    text-decoration: none;
}
.current {
        color: var(--accent-text-color);
}
.list{
    margin: 0;
    padding: 0;
}
.list a:hover,
.list a:focus{
    color: var(--accent-text-color);
}
.logo-span {
    color: var(--accent-text-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
}
/* Autirizator */
.nav-aut{   
}
.nav-aut a {
color: var(--primary-text-color);
}
.nav-aut a:hover,
.nav-aut a:focus{
    color: var(--accent-text-color);
}
/* Section idex*/
.section-title {
    margin: 0;
    color: var(--title-text-color);
    font-size: 36px;
    font-weight: 700;
}
.clients{
    background-color: #F5F4FA;
}
/* bg index*/
.heroy-box {
    margin-bottom: 94px;
    text-align: center;
    width: auto;
    background-color: var(--ptimary-heroy-color);
}
.main-title {
    margin-top: 0;
    margin-bottom: 30px;
    color: var(--primary-white-color);
    font-family: Roboto, sans-serif;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    text-transform: uppercase;
}
/* Skills index*/
.title{
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 3%;
    text-transform: uppercase;
}
.section-title {
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
}
 p{
    margin: 0;
    padding: 0;
}
.ul-skills .title{
    margin-bottom: 10px;
    color: var(--title-text-color);
}
/* Our comand index*/
.employee {
    margin-top: 30px;
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 3%;
}  
.employee-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 3%;
}
.section.skills{
    margin-bottom: 118px;
}
/* our work index*/
.container.our-work{
    padding-bottom: 94px;
}
/* footer */
.footer-logo {
    text-decoration: none;
    color: var(--primary-white-color);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 3%;
}
.footer-logo:hover,
.footer-logo:focus{
    color: var(--accent-text-color);
}

.footer-box {  
    background-color: var(--ptimary-heroy-color);
}
.footer-ul{
    margin: 20px 0 0 0;
    padding-bottom: 60px;
    list-style: none;
}
.footer-post {
    margin-bottom: 9px;
    text-decoration: none;
    color:var(--primary-white-color)
}
.footer-contact:hover,
.footer-contact:focus{
    color:var(--accent-text-color);
}
.footer-contact {
    text-decoration: none;
    color:rgba(255, 255, 255, 0.6);
}
.footer-map{
    text-decoration: none;
    color: var(--primary-white-color);
}
.footer-map:hover,
.footer-map:focus{
    color:var(--accent-text-color);
}   



/*  */
/* Portfolio */

/*secondary text #212121 */
/*main  text #757575 */
/* white #FFFFFF */
/* blue #2196F3*/
/* footer rgba(255, 255, 255, 0.6) */
/* background #F5F5F5 */
/* bacgraund grey #F5F4FA */
/* background akcent #2F303A */

/* Header portfolio*/












/* Section portfolio*/

.section-title-portfolio{
    padding: 0;
    margin: 0;
}

.clients{
    background-color: #F5F4FA;
}




.main-title {
    color: var(--primary-white-color);
    text-align: center;
    font-size: 44px;
    font-weight: 900;
}


/* Skills */

.ul-skills .title{
    color: var(--title-text-color);
}

/* Our comand */
.employee {
    color: var(--title-text-color);
}

.portfolio {
    text-decoration: none;
    margin: 0;
    padding: 20px 0px 6px 0px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2.11;
    letter-spacing: 6%;
    text-transform: capitalize;
}
.pharagraf-portfolio{
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 3%;
}

.link-portfolio{
    text-decoration: none;
}

.portfolio-img{
    padding: 0;
    margin: 0;
}
